/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Meddon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap");

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL STYLING */
html {
  scroll-behavior: smooth;
  font-family: "Yantramanav", sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}

body {
  background-color: #881212;
  color: #f2e6d0;
  cursor: default;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: 300;
}

button,
input {
  font-family: "Yantramanav", sans-serif;
  border: none;
  color: #f2e6d0;
  cursor: pointer;
}

.button-base {
  width: 15rem;
  padding: 0.8rem 1rem;
  background-color: #f2e6d0;
  color: #881212;
  font-size: 0.95rem;
  font-weight: 500;
  letter-spacing: 0.085rem;
  text-transform: uppercase;
}

.input-radio {
  opacity: 0;
  position: fixed;
  width: 0;
}

.centered {
  text-align: center;
}

.red-color {
  color: #881212;
}

/* HEADER */
.header {
  height: 100vh;
  padding: 7vh 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #881212;
  background-image: url(./img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: soft-light;
}

.header-container {
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.handwritten-font {
  font-family: "Meddon";
  font-size: 3rem;
  line-height: 3.8rem;
}

.nav-button {
  background: none;
}

.nav-button-text {
  margin: 0.2rem 0;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.08rem;
}

.icon-arrow-down, .icon-arrow-up {
  font-size: 2rem;
}

/* ---- SECTIONS ---- */
/* GENERAL */
.section-base {
  height: 100vh;
  padding: 3.5vh 4vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.section-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.nav-buttons-wrap {
  display: flex;
  justify-content: space-between;
  width: 50vw;
}

/* GET USER NAME */
.input-name-wrap {
  display: flex;
  flex-direction: column;
}

.input-username {
  margin-top: 1.5rem;
  border-bottom: solid 1px #f2e6d0;
  background: none;
  font-weight: bold;
  font-size: 1.6rem;
}

.default-text {
  font-size: 1.3rem;
}

.photo-example {
  width: 40vw;
  height: auto;
}


/* QUIZ */
.input-answer:checked + .label-answer {
  border: solid 1px #f2e6d0;
  background-color: #881212;
  color: #f2e6d0;
}


/* FOUNDATION */
.foundations-wrap {
  display: flex;
  flex-direction: column;
}

.input-skin-answer:checked + .label-skin-answer {
  border: solid 2px #440909;
}

.button-skin {
  border: solid 2px #f2e6d0;
  border-radius: 50%;
  margin: 0.4rem 0;
  padding: 1rem;
}

.bege-translucido { background-color: #D5B8A1; }
.bege-rosado { background-color: #DF9E74 }
.bege-medio { background-color: #CA966D }
.bege-castanho { background-color: #B97F57 }
.marrom-claro { background-color: #AD6E42 }
.marrom-medio { background-color: #B87145 }
.marrom-escuro { background-color: #815530 }

@media (min-width: 900px) {
  .foundations-wrap {
    flex-direction: row;
  }

  .button-skin {
    margin: 0 1rem;
  }
}


/* MANIFESTO */
.section-manifesto {
  background-color: #f1ede5;
}

.manifesto-text {
  font-size: 1.4rem;
  font-weight: 300;
  color: #AD1F23;
}

.bold {
  font-weight: bold;
}

.manifesto-your-red {
  font-family: 'Meddon';
  font-weight: 300;
  font-size: 2.2rem;
}

.red-marble-img {
  width: 90vw;
  height: auto;
}


/* LIPSTICK */
.section-lipstick {
  padding: 3vh 0;
  background-color: #B12E24;
}

.your-red {
  margin-bottom: 1.5rem;
  font-weight: 300;
  font-size: 1.5rem;
  color: #f1ede5
}

.your-red-handwritten {
  font-family: 'Meddon';
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.8rem;
}

.products-container {
  max-width: 600px;
}

.lipstick-wrap, .nail-polish-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.lipstick-img {
  width: 60vw;
  height: 13.5rem;
  object-fit: none;
  object-position: 35% 2%;
}

.nail-polish-img {
  width: 60vw;
  height: 8.5rem;
  object-fit: none;
  object-position: 50% 75%;
}

.lipstick-info {
  position: relative;
  left: -2rem;
  width: 60vw;
  background-color: #fff;
  padding: 0.7rem;
  text-align: left;
  color: #000;
}

.nail-polish-info {
  position: relative;
  left: 2rem;
  width: 60vw;
  background-color: #fff;
  padding: 0.7rem;
  text-align: right;
  color: #000;
}

.lipstick-description {
  margin: 0.5rem 0;
  font-size: 0.9rem;
}

.nail-polish-description {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0.03rem;
  color: #881212;
}

.button-buy {
  display: inline-block;
  background-color: #881212;
  border: solid 1px #881212;
  padding: 0.3rem 1rem;
  font-size: 0.9rem;
  font-weight: 400;
  color: #f2e6d0;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}

.button-buy:hover {
  background-color: #fff;
  color: #881212;
  transition: 0.3s ease-in-out;
}
