/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Meddon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap");

/* CSS RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL STYLING */
html {
  scroll-behavior: smooth;
  font-family: "Yantramanav", sans-serif;
  font-weight: 300;
}

body {
  background-color: #881212;
  color: #f2e6d0;
  cursor: default;
}

a {
  text-decoration: none;
}

h1 {
  font-weight: 300;
}

button,
input {
  font-family: "Yantramanav", sans-serif;
  border: none;
  color: #f2e6d0;
  cursor: pointer;
}

.button-base {
  width: 15rem;
  padding: 1rem 0.3rem;
  background-color: #f2e6d0;
  color: #881212;
  font-size: 0.95rem;
  font-weight: 500;
  letter-spacing: 0.085rem;
  text-transform: uppercase;
}

.input-radio {
  opacity: 0;
  position: fixed;
  width: 0;
}

.centered {
  text-align: center;
}

.red-color {
  color: #881212;
}

/* HEADER */
.header {
  height: 100vh;
  padding: 3.5vh 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #881212;
  background-image: url(./img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: soft-light;
}

.header-container {
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.handwritten-font {
  font-family: "Meddon";
  font-size: 3rem;
  line-height: 3.8rem;
}

.nav-button {
  background: none;
}

.nav-button-text {
  margin: 0.2rem 0;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.08rem;
}

.icon-arrow-down, .icon-arrow-up {
  font-size: 2rem;
}

/* ---- SECTIONS ---- */
/* GENERAL */
.section-base {
  height: 100vh;
  padding: 5vh 4vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.section-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.nav-buttons-wrap {
  display: flex;
  justify-content: space-between;
  width: 50vw;
}

/* GET USER NAME */
.input-name-wrap {
  display: flex;
  flex-direction: column;
}

.input-username {
  margin-top: 1.5rem;
  border-bottom: solid 1px #f2e6d0;
  background: none;
  font-weight: bold;
  font-size: 1.6rem;
}

.default-text {
  font-size: 1.3rem;
}

.photo-example {
  width: 40vw;
  height: auto;
}


/* QUIZ */
.input-answer:checked + .label-answer {
  border: solid 1px #f2e6d0;
  background-color: #881212;
  color: #f2e6d0;
}


/* MANIFESTO */
.section-manifesto {
  background-color: #f1ede5;
}

.manifesto-text {
  font-size: 1.4rem;
  font-weight: bold;
  color: #AD1F23;
}


/* LIPSTICK */
.section-lipstick {
  padding: 5vh;
  background-color: #B12E24;
}

.lipstick-img {
  position: relative;
  left: -15vw;
  width: 17rem;
  height: auto;
  border: solid 2px #f2e6d0;
  border-radius: 50%;
  object-fit: none;
  object-position: center 10%;
}

.button-buy {
  background-color: #f2e6d0;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
}

.button-buy-text {
  color: #881212;
  text-transform: uppercase;
}

.your-red {
  font-weight: bold;
  font-size: 1.5rem;
  color: #f1ede5
}

.your-red-handwritten {
  font-family: 'Meddon';
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.8rem;
}
